* {
    box-sizing:border-box;
}
.achievements_slide {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 29rem;
    height: 53.2rem;
    margin: 0 auto;
    padding: 1.6rem;
    border-radius: 2rem;
    background-color: var(--transparent-green);
}
.achievements_img_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 18.6rem;
    border-radius: 2rem;
    background-color: var(--white);
}

.achievements_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: var(--main-green);
}
.achievements_title {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2.21rem;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.achievements_text {
    line-height: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.achievements_slider .swiper-button-prev, 
.achievements_slider .swiper-button-next {
    display: none;
}

@media(min-width: 468px) {
    .achievements_slide {
        width: 42rem;
        height: 42.8rem;
    }
    .achievements_title {
        -webkit-line-clamp: 3;
    }
    .achievements_text {
        -webkit-line-clamp: 6;
    }
}
@media(min-width: 668px) {
    .achievements_slide {
        width: 58rem;
        height: 36.6rem;
    }
    .achievements_title {
        -webkit-line-clamp: 2;
    }
    .achievements_text {
        -webkit-line-clamp: 4;
    }
}
@media(min-width: 1024px) {
    .achievements_slide {
        width: 70.5rem;
        height: 36.2rem;
        padding: 2.4rem;
    }
    .achievements_title {
        -webkit-line-clamp: 2;
    }
    .achievements_text {
        -webkit-line-clamp: 3;
    }
    .achievements_slider .swiper-button-prev, 
    .achievements_slider .swiper-button-next {
        display: block;
        top: 18.5rem;
    }
}
@media(min-width: 1500px) {
    .achievements_slide {
        flex-direction: row;
        gap: 3.2rem;
        width: 119.6rem;
        height: 18.2rem;
        padding: 2.4rem;
    }
    .achievements_img_wrapper {
        width: 30rem;
        height: 13.4rem;
    }
    .achievements_info {
        width: 81.6rem;
        text-align: left;
    }
    .achievements_title {
        font-size: 2.2rem;
        line-height: 2.86rem;
    }
    .achievements_slider .swiper-button-prev, 
    .achievements_slider .swiper-button-next {
        top: 9.5rem;
    }
}