.filters .search_wrapper {
    display: flex;
    gap: 1.6rem;
}
.filters_wrapper {
    display: none;
}
.filters_btn {
    width: 4.8rem;
    padding: 1.1rem 1.6rem;
    background-color: var(--blue-green);
}
.filters_btn.green {
    background-color: var(--dark-green60);
}
.filters_btn:after {
    content:'';
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.70941 15.9061C4.20435 15.6931 3.68682 15.2327 3.53235 14.8588L3.38318 14.4978H1.69165H0V13.6723V12.8467H1.63541H3.27082L3.50412 12.4503C3.81377 11.9243 4.41141 11.4847 5.04753 11.315C6.00353 11.0599 7.08694 11.5255 7.64553 12.4315L7.90153 12.8467H11.9508H16V13.6723V14.4978H11.9041H7.80823L7.614 14.9064C7.31306 15.5389 6.58835 15.956 5.72153 15.9956C5.32471 16.0138 4.86918 15.9735 4.70941 15.9061ZM6.04294 14.2534C6.42224 13.9544 6.45624 13.422 6.11765 13.0826C5.64035 12.6041 4.82153 12.959 4.82529 13.6428C4.82741 14.0233 4.91424 14.1743 5.23529 14.3569C5.56847 14.5463 5.69153 14.5305 6.04294 14.2534ZM9.97635 10.3652C9.39506 10.2663 8.67659 9.7747 8.35788 9.25754L8.09847 8.83686H4.04918H0V8.0113V7.18574H4.04318H8.08635L8.39353 6.72048C9.09847 5.65256 10.5031 5.30358 11.5709 5.93101C12.0842 6.23257 12.5882 6.79018 12.5882 7.05648C12.5882 7.14423 13.136 7.18574 14.2941 7.18574H16V8.0113V8.83686H14.2941C13.0821 8.83686 12.5882 8.87637 12.5882 8.9732C12.5882 9.21544 11.9985 9.89299 11.6115 10.0952C11.1119 10.3565 10.5095 10.4559 9.97635 10.3652ZM10.9412 8.60099C11.2068 8.33468 11.2498 7.80114 11.0294 7.50476C10.7819 7.17159 10.182 7.12123 9.89459 7.40935C9.39718 7.90799 9.73365 8.83686 10.4118 8.83686C10.5735 8.83686 10.8118 8.73072 10.9412 8.60099ZM4.11765 4.68842C3.54906 4.52649 2.96294 4.0551 2.73541 3.57698L2.54471 3.17588H1.27235H0V2.35032V1.52476H1.26741H2.53471L2.75376 1.11705C3.528 -0.324144 5.76271 -0.383112 6.74341 1.01185L7.10412 1.52476H11.5521H16V2.35032V3.17588H11.5411H7.08212L6.84882 3.57226C6.54835 4.08258 5.94824 4.5338 5.35294 4.69679C4.80412 4.84705 4.67153 4.84622 4.11765 4.68842ZM5.26788 2.99225C5.45023 2.86429 5.52941 2.68821 5.52941 2.41105C5.52941 1.71004 4.89482 1.33806 4.36824 1.73032C3.49694 2.37945 4.37894 3.61649 5.26788 2.99225Z' fill='white'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.filters_btn:hover{
    background-color: var(--blue-green-dark);
}
.filters_btn.green:hover {
    background-color: var(--main-green);
}
@media(min-width:668px) {
.filters_wrapper {
    display: flex;
    gap: 0.8rem;
    margin-top: 1.4rem;
}
.filters_btn {
    display: none;
}
}

@media(min-width:1024px) {
.filters_wrapper {
    margin-top: 1.6rem;
    gap: 1.6rem;
}    
}
@media(min-width:1500px) {
.filters_wrapper {
    width: 89.6rem;
}    
}
