.online-appointment {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 1.6rem;
    border-radius: 2rem;
    background: var(--transparent-green);
    color: var(--dark-green);
}
.online-appointment:before {
    content:"";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/online-appointment/bg-gradient.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.online-appointment_info {
    position: relative;
}

.online-appointment_title {
    margin-bottom: 0.8rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    text-transform: uppercase;
}
.online-appointment_text {
    margin-bottom: 1.6rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.96rem;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
a.online-appointment_btn {
    width: 100%;
}
@media(min-width:468px) {
.online-appointment {
    text-align: center;
}
.online-appointment:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='420' height='137' viewBox='0 0 420 137' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 136.212V0.211914H420V26.679C420 26.679 367.138 23.9712 304.862 33.6011C246.931 42.5592 220.168 76.9413 199.138 94.679C168.724 120.332 139.034 136.212 88.3448 136.212H0Z' fill='url(%23paint0_linear_2228_28720)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2228_28720' x1='137.586' y1='-56.0639' x2='241.905' y2='140.177' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='white' stop-opacity='0.65'/%3e%3cstop offset='1' stop-color='white' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center
}
.online-appointment_text {
    -webkit-line-clamp: 3; 
}
a.online-appointment_btn {
    width: 25rem;
}
}
@media(min-width:668px) {
.online-appointment {
    padding: 2.4rem 16rem 2.4rem 2.4rem;
    text-align: left;
}
.online-appointment:after {
    content:"";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3.6rem;
    width: 8.8rem ;
    height: 12.7rem;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='88' height='127' viewBox='0 0 88 127' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M44 45.0127C52.3753 45.0127 60.5627 47.4142 67.528 51.9138C74.4932 56.4133 79.924 62.8091 83.1342 70.2933C86.3445 77.7775 87.1901 86.0142 85.5645 93.9632C83.9389 101.912 79.9148 109.217 74.0006 114.954C68.0864 120.692 60.5475 124.605 52.336 126.199C44.1245 127.793 35.6088 126.997 27.8647 123.911C20.1205 120.825 13.4953 115.588 8.82591 108.862C4.15647 102.135 1.65223 94.22 1.62964 86.1169C1.62964 75.2447 6.09371 64.8179 14.0397 57.1301C21.9857 49.4423 32.7627 45.1233 44 45.1233' fill='%23E3F0CE'/%3e%3cpath d='M45.6296 35.3671H42.3704V40.1899H45.6296V35.3671Z' fill='%231D6157'/%3e%3cpath d='M53.7778 35.3671H50.5186V40.1899H53.7778V35.3671Z' fill='%231D6157'/%3e%3cpath d='M37.4814 35.3671H34.2222V40.1899H37.4814V35.3671Z' fill='%231D6157'/%3e%3cpath d='M18.029 10.3966H8.43112C7.63393 10.3916 6.84372 10.5441 6.10625 10.8453C5.36877 11.1465 4.69876 11.5902 4.13505 12.1509C3.57134 12.7116 3.12514 13.3781 2.82237 14.1117C2.5196 14.8452 2.3663 15.6312 2.37129 16.4242V105.753C2.36769 106.545 2.52215 107.331 2.82581 108.063C3.12948 108.796 3.57619 109.461 4.14022 110.021C5.28747 111.133 6.82891 111.752 8.43112 111.743H79.6065C81.2026 111.74 82.7324 111.108 83.8597 109.984C84.4357 109.431 84.8928 108.768 85.2034 108.034C85.5139 107.3 85.6714 106.512 85.6663 105.716V16.4242C85.6714 15.6282 85.5139 14.8394 85.2034 14.1058C84.8928 13.3721 84.4357 12.7088 83.8597 12.1562C82.7324 11.0322 81.2026 10.3993 79.6065 10.3966H70.0085V19.1573C69.9986 20.4351 69.484 21.6578 68.5755 22.5615C67.6671 23.4651 66.4378 23.977 65.1531 23.9868H22.8845C21.5998 23.977 20.3705 23.4651 19.4621 22.5615C18.5536 21.6578 18.0389 20.4351 18.029 19.1573V10.3966ZM8.43112 8.03796H20.3627V19.2696C20.3576 19.5955 20.4184 19.919 20.5415 20.2211C20.6645 20.5232 20.8472 20.7976 21.0789 21.0281C21.3106 21.2585 21.5865 21.4403 21.8902 21.5627C22.1939 21.6851 22.5192 21.7456 22.8468 21.7405H65.1531C65.8137 21.743 66.4489 21.4876 66.9221 21.0292C67.3968 20.5645 67.6674 19.932 67.6749 19.2696V8.03796H79.6065C81.8329 8.05763 83.962 8.94864 85.5329 10.5182C87.1038 12.0877 87.9902 14.2095 88 16.4242V105.753C87.994 107.967 87.1156 110.091 85.5534 111.668C84.7747 112.45 83.8484 113.07 82.8279 113.494C81.8073 113.918 80.7125 114.137 79.6065 114.139H8.43112C6.19969 114.123 4.06396 113.236 2.48421 111.668C1.69536 110.896 1.06925 109.975 0.642689 108.96C0.216127 107.944 -0.00232766 106.854 1.87022e-05 105.753V16.4242C0.0099214 14.2031 0.901298 12.0757 2.4803 10.5051C4.0593 8.9345 6.19809 8.04781 8.43112 8.03796Z' fill='%231D6157'/%3e%3cpath d='M17.1109 20.0389H15.031C14.4394 20.0319 13.8525 20.1443 13.3063 20.3693C12.7601 20.5943 12.2661 20.9271 11.8545 21.3474C10.9994 22.1757 10.5101 23.3045 10.493 24.4879V99.2597C10.4965 99.852 10.6186 100.438 10.8523 100.983C11.0859 101.529 11.4266 102.023 11.8545 102.438C12.2661 102.858 12.7601 103.191 13.3063 103.416C13.8525 103.641 14.4394 103.753 15.031 103.746H71.1506C72.3542 103.746 73.5085 103.273 74.3595 102.432C75.2105 101.591 75.6886 100.45 75.6886 99.2597V24.4879C75.6787 23.3045 75.1961 22.173 74.3461 21.3397C73.4962 20.5064 72.3476 20.0389 71.1506 20.0389H69.2219C69.2121 21.315 68.695 22.536 67.7822 23.4383C66.8695 24.3407 65.6345 24.8519 64.3437 24.8617H21.9892C20.6985 24.8519 19.4634 24.3407 18.5507 23.4383C17.638 22.536 17.1208 21.315 17.1109 20.0389ZM15.1823 17.6836H19.4933V20.0389C19.4882 20.3644 19.5493 20.6874 19.6729 20.9891C19.7965 21.2907 19.9802 21.5648 20.213 21.7949C20.4458 22.0251 20.723 22.2066 21.0281 22.3288C21.3333 22.451 21.6601 22.5114 21.9892 22.5064H64.4949C65.1586 22.5089 65.7968 22.2538 66.2723 21.7961C66.7492 21.3321 67.0211 20.7004 67.0286 20.0389V17.6836H71.3019C73.1278 17.6933 74.8765 18.4121 76.1712 19.685C77.4658 20.9579 78.2025 22.6829 78.2223 24.4879V99.2597C78.2123 101.071 77.4801 102.806 76.1844 104.087C74.8887 105.368 73.1343 106.091 71.3019 106.101H15.031C13.1987 106.093 11.4443 105.367 10.1527 104.082C9.51089 103.451 9.00313 102.699 8.65897 101.871C8.31481 101.043 8.14118 100.155 8.14841 99.2597V24.4879C8.1462 23.5989 8.32223 22.7182 8.66624 21.8969C9.01025 21.0755 9.51543 20.3296 10.1527 19.7024C11.4443 18.4175 13.1987 17.6915 15.031 17.6836H15.1823Z' fill='%231D6157'/%3e%3cpath d='M67.7347 19.2799V10.5111H20.3033V19.2799C20.2982 19.6061 20.3591 19.9299 20.4825 20.2323C20.6058 20.5346 20.7891 20.8093 21.0214 21.04C21.2537 21.2707 21.5303 21.4526 21.8347 21.5751C22.1392 21.6976 22.4653 21.7581 22.7937 21.7531H65.2065C65.8687 21.7556 66.5055 21.5 66.98 21.0411C67.4558 20.5761 67.7272 19.9429 67.7347 19.2799ZM70.0742 9.31204V19.2799C70.0643 20.5589 69.5484 21.7828 68.6376 22.6872C67.7269 23.5917 66.4944 24.1041 65.2065 24.1139H22.7937C21.5058 24.1041 20.2734 23.5917 19.3627 22.6872C18.452 21.7828 17.9359 20.5589 17.926 19.2799V8.03796H70.0742V9.31204Z' fill='%231D6157'/%3e%3cpath d='M45.4906 3.37976C45.1784 3.07177 44.8069 2.82821 44.3977 2.66332C43.9885 2.49844 43.55 2.41556 43.1078 2.41959C42.2843 2.50728 41.5229 2.89104 40.9696 3.49714C40.4163 4.10324 40.1103 4.88899 40.1103 5.70341C40.1103 6.51784 40.4163 7.30352 40.9696 7.90962C41.5229 8.51572 42.2843 8.89948 43.1078 8.98718C43.55 8.99121 43.9885 8.90833 44.3977 8.74344C44.8069 8.57856 45.1784 8.335 45.4906 8.02701C46.1131 7.40858 46.4623 6.57358 46.4623 5.70341C46.4623 4.83325 46.1131 3.99819 45.4906 3.37976ZM43.1078 0C44.6446 0.0101416 46.115 0.617515 47.1981 1.68962C48.2811 2.76172 48.8889 4.21148 48.8889 5.72258C48.8494 7.16697 48.2483 8.54153 47.2093 9.56326C46.6729 10.0972 46.0343 10.5214 45.3304 10.8115C44.6264 11.1015 43.871 11.2516 43.1078 11.2532C41.6305 11.2162 40.2274 10.6092 39.2017 9.56326C38.6572 9.0409 38.2245 8.4167 37.9291 7.72742C37.6336 7.03815 37.4814 6.29774 37.4814 5.54975C37.4814 4.80177 37.6336 4.06136 37.9291 3.37208C38.2245 2.68281 38.6572 2.05861 39.2017 1.53625C40.2768 0.602493 41.6741 0.107887 43.1078 0.153601V0Z' fill='%231D6157'/%3e%3cpath d='M56.0004 55.596H29.9888V81.1619H56.0385L56.0004 55.596ZM29.5318 53.1629H56.6479C56.9115 53.1656 57.1719 53.2199 57.4139 53.3228C57.6559 53.4256 57.8745 53.5749 58.057 53.7619C58.2527 53.937 58.4082 54.1511 58.5133 54.3899C58.6183 54.6287 58.6705 54.8867 58.6663 55.1468V81.6111C58.6659 81.8705 58.6115 82.1271 58.5068 82.3652C58.402 82.6034 58.249 82.818 58.057 82.996C57.8745 83.183 57.6559 83.3323 57.4139 83.4352C57.1719 83.538 56.9115 83.5923 56.6479 83.595H29.7222C29.4525 83.5952 29.1855 83.5424 28.9369 83.4395C28.6884 83.3366 28.4632 83.1858 28.2749 82.996C27.9115 82.6231 27.7071 82.1275 27.7037 81.6111V55.1468C27.7014 54.8904 27.7507 54.636 27.8487 54.3983C27.9468 54.1606 28.0916 53.9443 28.2749 53.7619C28.5898 53.38 29.0377 53.1265 29.5318 53.0507V53.1629Z' fill='%231D6157'/%3e%3cpath d='M37.5013 66.6004L43.6494 72.2355L61.8685 54.6582L63.5555 56.3749L43.6494 75.5569L35.8518 68.3543L37.5013 66.6004Z' fill='%231D6157'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.online-appointment_title {
    text-align: left;
    font-size: 1.9rem; 
    line-height: 2.9rem ;
}
.online-appointment_text {
    text-align: left;
} 

a.online-appointment_btn {
    width: 22.8rem;
    margin-left: 0;
}
}
@media(min-width:1024px) {
.online-appointment {
    padding: 4rem 19.2rem 4rem 4rem; 
}
.online-appointment:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='896' height='262' viewBox='0 0 896 262' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 263V0H896V51.1826C896 51.1826 783.228 45.9463 650.372 64.5689C526.786 81.8922 469.691 148.381 424.828 182.683C359.945 232.29 296.607 263 188.469 263H0Z' fill='url(%23paint0_linear_2228_16559)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2228_16559' x1='293.517' y1='-108.828' x2='483.863' y2='286.185' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='white' stop-opacity='0.65'/%3e%3cstop offset='1' stop-color='white' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.online-appointment:after {
    right: 4rem;
}
.online-appointment_title {
    margin-bottom: 2rem;
    font-size: 2rem  ;
    line-height: 3rem;
}
.online-appointment_text {
    display: flex;
    flex-direction:column;
    gap: 0.8rem;
    margin-bottom: 2.4rem;
}
.online-appointment .text-1024 {
    display: block;
}
}
@media(min-width:1500px) {
.online-appointment {
    width: 111.4rem;
    padding: 4rem 25.9rem 4rem 4rem; 
    border-radius: 4rem;
}
.online-appointment:before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1114' height='262' viewBox='0 0 1114 262' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 262V0H1114V50.988C1114 50.988 973.79 45.7716 808.61 64.3234C654.955 81.5808 583.969 147.817 528.19 181.988C447.521 231.407 368.772 262 234.324 262H0Z' fill='url(%23paint0_linear_2228_43287)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2228_43287' x1='364.931' y1='-108.414' x2='527.857' y2='313.565' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='white' stop-opacity='0.65'/%3e%3cstop offset='1' stop-color='white' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e "); 
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
}