

.photo_slider-wrap .swiper-wrapper {
    margin-left: 1.5rem;
    height: 18.2rem;
    box-sizing: border-box;
}

.photo_slider-wrap .swiper-slide {
    width: auto;
    cursor: pointer;
}
.photo_slider-wrap .swiper-slide img{
    width: auto;
    height: 100%;
}
.photo_slider-wrap .swiper-button-prev, .photo_slider-wrap .swiper-button-next {
    display: none;
}

.photo_slider-wrap .swiper-slide.photo-slide_stub-blank{
    width: 2.2rem;
    height: 100%;
}

@media(min-width:468px) {
    .photo_slider-wrap .swiper-wrapper {
        margin-left: 2.4rem;
    }
    .photo_slider-wrap .swiper-slide.photo-slide_stub-blank{
        width: 4rem;
    }
}

@media(min-width:668px) {
    .photo_slider-wrap .swiper-wrapper {
        margin-left: 4.4rem;
        height: 22.4rem;
    }
    .photo_slider-wrap .swiper-slide.photo-slide_stub-blank{
        width: 8rem;
    }
}

@media(min-width:1024px) {
    .photo_slider-wrap .swiper-wrapper {
        margin-left: 14.5rem;
    } 
    .photo_slider-wrap .swiper-slide.photo-slide_stub-blank{
        width: 28.2rem;
    }
    .photo_slider-wrap .swiper-button-prev, .photo_slider-wrap .swiper-button-next {
        display: block;
    }
    .photo_slider-wrap .swiper-button-prev {
        top:11rem;
        margin-left: 6.4rem;
    }
    .photo_slider-wrap .swiper-button-next {
        top:11rem;
        margin-right: 6.4rem;
    }

}

@media(min-width:1500px) {
    .photo_slider-wrap .swiper-wrapper {
        margin-left: 16rem;
    } 
    .photo_slider-wrap .swiper-slide.photo-slide_stub-blank{
        width: 31.2rem;
    }
}